.contacto{
    display: flex;
    background: var(--gray-dark);
    height: 20rem;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}


@media screen and (max-width: 378px) {

    .contacto__enlaces{
        flex-direction: column;
        align-items: center;
    }

    
}